{
    "class_start": "2015-01-19T00:00:00Z",
    "projects": [
        { "org": "geotrellis",   "repo": "geotrellis"    },
        { "org": "geotrellis",   "repo": "gt-admin"      },
        { "org": "geotrellis",   "repo": "curve"         },
        { "org": "locationtech", "repo": "geomesa"       },
        { "org": "selendroid",   "repo": "selendroid"    },
        { "org": "selendroid",   "repo": "selendroid.io" },
        { "org": "ios-driver",   "repo": "ios-driver"    }
    ],
    "students": [
        { "name": "ALI MAVRAKIS",         "ghid": "alimavrakis" },
        { "name": "ANTONY TRINH",         "ghid": "ant8012" },
        { "name": "BRETT SMITH",          "ghid": "bretts61" },
        { "name": "CAMERON HOOPER",       "ghid": "chooper9" },
        { "name": "CHRISTOPHER BRUBAKER", "ghid": "brubch" },
        { "name": "COLIN MURRAY",         "ghid": "colindmurray" },
        { "name": "DANIEL FLOYD",         "ghid": "redfours" },
        { "name": "DEREK NGO",            "ghid": "derekngo" },
        { "name": "DANIEL ROBERTSON",     "ghid": "danielrobertson" },
        { "name": "EMILY HART",           "ghid": "EmilyHart" },
        { "name": "HONGBING CAI",         "ghid": "iancai" },
        { "name": "HOWARD DENNIS",        "ghid": "h2dennis" },
        { "name": "JACOB BOBB",           "ghid": "jacob-bobb" },
        { "name": "JOSHUA GUTIERREZ",     "ghid": "joshuagutierrez" },
        { "name": "JUNGMO KU",            "ghid": "suhojm" },
        { "name": "KEVIN WHEELER",        "ghid": "kevinwheeler" },
        { "name": "KEVIN YEH",            "ghid": "kyeah" },
        { "name": "KIM YU NG",            "ghid": "kimyu92" },
        { "name": "KYLE MARTINEZ",        "ghid": "Blackbaud-KyleMartinez" },
        { "name": "LAUREN HUNTER",        "ghid": "huntinglauren" },
        { "name": "MARK DANIEL",          "ghid": "DarkManiel" },
        { "name": "MARK SANDAN",          "ghid": "sandan" },
        { "name": "MAX TIMKOVICH",        "ghid": "mtimkovich" },
        { "name": "MIGUEL DEL VALLE",     "ghid": "Mdelvalle" },
        { "name": "MIKKEL KIM",           "ghid": "MikkelKim" },
        { "name": "NADA ISMAIL",          "ghid": "nadaismail" },
        { "name": "PHILLIPQUANG PHAM",    "ghid": "pqpham90" },
        { "name": "SAGE MOORE",           "ghid": "SageMoore" },
        { "name": "SAMUEL THOMPSON",      "ghid": "st028" },
        { "name": "SIVARAMA MULLAPUDI",   "ghid": "sivakom" },
        { "name": "THANH NGUYEN",         "ghid": "thanhcs" },
        { "name": "THIEN VO",             "ghid": "thv92" },
        { "name": "ZACHARY SANDERS",      "ghid": "ZachSand" }
    ]
}
